[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pillow = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
